/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem; /*16px*/
  margin-bottom: 1.875rem; /*30px*/
}

header img {
  margin-top: 2rem; /*32px*/
  width: 3.82em; /*61.09px*/
  height: 1.19em; /*19px*/
}

header a {
  font-size: 1em; /*16px*/
  padding: 1.5rem; /*24px*/
  display: inline-block;
}

header a:hover {
  border-style: solid;
  border-width: 0.125em 0 0 0; /*2px*/
  border-color: #0065fc;
}

.active {
  color: #0065fc;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 3.125rem; /*50px*/
}

.find_location h2 {
  margin-bottom: 0.5rem; /*8px*/
}

.find_location p {
  margin-top: 0;
  margin-bottom: 0;
}

.find_location form {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 3.062em; /*49px*/
  margin: 2.187rem 0; /*35px*/
}

.find_location label:only-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125em; /*50px*/
  background-color: var(--main-bg-color);
  border-top-left-radius: 0.937em; /*15px*/
  border-bottom-left-radius: 0.937em; /*15px*/
}

.fa-location-dot {
  font-size: 1.125em; /*18px height*/
  color: #000;
}

.find_location input {
  font-weight: bold;
  font-size: 1.125em; /*18px*/
}

.find_location_btn {
  width: 8.25rem; /*132px*/
  background-color: #0065fc;
  color: white;
  border: 0.1em solid #0065fc;
  border-top-right-radius: 0.937em; /*15px*/
  border-bottom-right-radius: 0.937em; /*15px*/
}

.mobile {
  position: absolute;
  top: 0;
  left: 17.5em;
  right: 0;
  bottom: 0;
  width: 3.062em; /*49px*/
  height: 3.062em; /*49px*/
  padding: 0.8rem;
  display: none;
}

.fa-search {
  font-size: 1.063em; /*17px height*/
  color: white;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 47.375rem; /*758px*/
}

.filters a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.125em solid #d9d9d9; /*2px*/
  border-radius: 1.562em; /*25px*/ 
  height: 3.125em; /*50px*/
  font-weight: bold;
  font-size: 1.062em; /*17px*/
  padding: 0 1.187rem; /*19px*/
}

.filters a i {
  margin-right: 0.625rem;
}

.filters a:hover {
  background-color: #deebff;
}

.info {
  display: flex;
  align-items: center;
  margin: 2.187rem 0; /*35px*/
}

.info p {
  margin-left: 0.625rem; /*10px*/
}

.fa-circle-info {
  font-size: 1.5em; /*24px*/
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 1.375em; /*22px*/
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 1.25rem; /*20px*/
  padding: 1.875rem; /*30px*/
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 54.437rem; /*871px*/ /*65%*/
  margin-right: 2.5rem; /*40px*/
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hebergements-cards .card {
  flex-direction: column;
  width: 15.645em; /*250.33px*/ /*33%*/
  height: 12.953em; /*207.25px*/

}

.hebergements-cards img {
  width: 100%;
  height: 7.75em; /*124px*/
  border-top-left-radius: 1.25em; /*20px*/
  border-top-right-radius: 1.25em; /*20px*/
}

.hebergements .more {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  margin: 1.875rem 0 0.156rem; /* 30px */ /*0*/ /*2px*/
}

/****** Populaires ***********/
.populaires {
  width: 26.812rem; /*429px*/ /*32%*/
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
    width: 23.062em; /*369px*/
    height: 9.125em; /*146px*/
}

.populaires-cards img {
  width: 7.687em; /*123px*/ /*33%*/
  height: 8.5em; /*136px*/
  border-top-left-radius: 1.25em; /*20px*/
  border-bottom-left-radius: 1.25em; /*20px*/
}

/****** Activites ***********/
.activites h2 {
  margin: 4.062rem 1.875rem 0; /*65px*/ /*30px*/
}

.activites-cards {
  display: flex;
  justify-content: space-around;
}

.activites-cards .card {
  flex-direction: column;
  width: 18.593em; /*297.5px*/ /*33%*/
  margin-right: 0.875rem; /*14px*/
}

.activites-cards img {
  width: 100%;
  height: 23.75em; /*380px*/
  border-top-left-radius: 1.25em; /*20px*/
  border-top-right-radius: 1.25em; /*20px*/
}

.activites-cards-title {
  font-size: 1em;
  margin: 1.25rem 0.25rem; /*20px*/ /*4px*/
}

/****** Cards ***********/
.card {
  display: flex;
  /* margin-top: 33px; */
  margin-top: 1.875rem; /*30px*/
  background-color: white;
  border-radius: 1.25em; /*20px*/
  padding: 0.312rem; /*5px*/
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1em;
  margin-top: 0.625rem; /*10px*/
  margin-bottom: 0.25rem; /*4px*/
}

.card-content {
  padding-left: 0.937rem /*15px*/;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-subtitle {
  margin: 0;
}

.card-rating {
  margin-bottom: 0.312rem; /*5px*/
}

/****** Footer ***********/
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f2f2f2;
  margin-top: 4rem; /*64px*/
}

footer h3 {
  margin: 1.25rem 0 0.937rem; /*20px*/ /*0*/ /*15px*/
}

footer div {
  padding-left: 1.25rem; /*20px*/
  width: 27.916em; /*446.67px*/
}

footer ul {
  padding-inline-start: 0;
  list-style-type: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less than/equal to 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card {
    width: 17.166em; /*274.67px*/
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  
  .activites-cards .card {
    width: 12.093rem; /*193.5px*/
  }

  .activites-cards img {
    height: 12.5em; /*200px*/
  }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
